scikit-learn
scikit-image
pillow
matplotlib
notebook
line_profiler
memory_profiler
numexpr
pandas-datareader
netcdf4
jupyter
numpy
scipy
pandas
sklearn
seaborn
pyspark==2.4.5
ibmos2spark
ibm-cos-sdk
Flask
elasticsearch
elasticsearch_dsl
kafka-python
pyarrow
hdfs
tensorflow>=2.4
tensorflow-probability
keras
torch
pytz
mlflow
